html {
    scroll-behavior: smooth;
    background-color: #24282F;
}


a.brand-logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #24282F;
}

.carousel {
    height: 80vh;
    perspective: 80vw;
    transform: translateY(-200px);
}

